*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}


.section_one{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.section_one_left{
    width: 40%;
    height: 400px;

}
.section_one_right{
    width: 40%;
    height: 400px;

}
h1{
width: 421px;
font-family: Mulish;
font-size: 45px;
font-weight: 700;
line-height: 56px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.section_one_left p{
    width: 421px;
    font-family: Mulish;
    font-size: 19px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 26px;
    
color: #7D7987;

}
.section_one_left button{
width: 197px;
height: 50px;
border-radius: 55px;
border: none;
border: 2px solid  #458FF6;
font-family: Mulish;
font-size: 17px;
font-weight: 700;
line-height: 21.34px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #458FF6;
transition: 0.5s;
margin-top: 35px;

}
.section_one_left button:hover{
    color: white;
    background-color: #458FF6;
}

.section_two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
width: 380px;
height: 380px;
background: #E7E7E7;
padding: 28px 41px;
border-radius: 40px;
transition: 0.5s;
margin-top: 200px;
}
.card h3{
font-family: Mulish;
font-size: 24px;
font-weight: 700;
line-height: 56px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.card img {
    height: 97px;
}
.card p{
font-family: Mulish;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.card:hover{
color: white;
background-color: #458FF6;
}